@font-face {
  font-family: "DejaVu";
  src: url("fonts/dejavu/DejaVuSansMono.ttf") format("truetype");
}
@font-face {
  font-family: "DejaVuBold";
  src: url("fonts/dejavu/DejaVuSansMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "DejaVuSans";
  src: url("fonts/dejavu/DejaVuSans.ttf") format("truetype");
}
@font-face {
  font-family: "DejaVuSansBold";
  src: url("fonts/dejavu/DejaVuSans-Bold.ttf") format("truetype");
}
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'DejaVu', 'DejaVuSans', monospace;
}
body, html {
  margin:0;
  padding:0;
  overflow:hidden;
  font-size:16px;
}
textarea, input, datalist, button, pre {
  font-size: 16px;
  letter-spacing:0px;
}
input, datalist, button {
  margin:0px;
  padding:0px 2px;
  border:1px solid lightgray;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  cursor: pointer;
  min-width:51%;
  float:left;
}
ul .d {
  color: darkgray;
  cursor: pointer;
  min-width:0%;
  max-width:16%;
  float:left;
  padding:0 4px;
}
hr {
  margin:0;
  padding:0;
  border:1px solid black;
}
table {
  width:100%;
}
table, tbody, tr, td {
  border:0;
  padding:0;
  margin:0;
}
#synth {
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  border:0;
  margin:0;
  padding:0;
}
#keys {
  width: 288px;
  margin:0px;
  font-size:16px;
}
#keys_ {
  width: 288px;
  margin:0px;
  font-size:16px;
  letter-spacing:-0.05px;
}
.u {
   text-decoration:underline;
}
a {
  color:black;
  text-decoration:none;
}
#keys a {
  border-left: 1px solid lightgray;
  margin: 0px -1px 0px 0px;
  padding:2.4px;
  font-family:'DejaVuBold';
}
#keys_ span a {
  border-left:1px solid lightgray;
  padding:0px;
  margin:0px -1px 0px 0px;
  font-family:'DejaVuBold';
}
#keys_ a {
  font-family:'DejaVuBold';
}
#tgl, #undo {
  color:lightgray;
}
#rows {
  width:324px;
}
#row {
  padding-left: 12px;
  width: 32px;
  height: 32px;
}
#tone {
  width:288px;
  height:1.5em;
  line-height:1.5em;
  overflow:hidden;
  background-color:transparent;
  margin-bottom:0.5em;
  float:left;
  text-align:center;
}
#tone a {
  text-decoration:none;
  font-weight:bold;
  font-family:'DejaVuBold';
  padding:0px 2.5px;
}
select {
  height:24px;
  font-size:16px;
  width:24px;
  margin:0px;
  padding:2px 1px;
  border: 0px;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
option {
  margin:0px;
  padding:0px;
}
#word, #phrase, #toc {
  border:1px solid lightgray;
  margin:0px;
  background:white;
  float:left;
  height:20px;
  width:224px;
  padding:1px 2px;
}
#toc {
  color: gray;
  height: 24px;
  width: 230px;
}
#split, #search, #pos, #parse, #morph, #download, #upload {
  width:29px;
  height:24px;
  border:1px solid lightgray;
  margin:0px;
  padding:2px;
  background:#eeeeee;
  float:right;
  font-size:14px;
}
#pos {
  padding-left:4px;
  font-weight:bold;
}
#parse i, #morph i, #split i, #download i, #upload i {
  font-size:16px;
  margin-top:2px;
}
#search i {
  margin-top:-2px;
}
.l {
  width:100%;
  padding:0px;
  margin:0px;
  clear:both;
}
#vowels {
  width:148px;
  height:22px;
}
#consonants {
  width:99px;
  height:22px;
}
pre {
  padding:0px;
  margin:0px;
}
#highlight {
  overflow-y:scroll;
  overflow-x:hidden;
  position:absolute;
  right: 0;
  top: 24px;
  z-index:-1;
  background:transparent;
  margin:0px;
  padding:0px;
  min-height:128px;
  font-size:16px;
  line-height:1em;
}
#hl {
  margin:0px;
  padding:0px;
  border:none;
  color:transparent;
}
#hl i {
  font-style:normal;
  font-weight:bold;
  position:relative;
  top:-2px;
}
#res {
  resize: none;
  overflow-y:scroll;
  overflow-x:hidden;
  margin:-1px;
  padding:0px;
  border:1px solid lightgray;
  background:transparent;
  min-height:128px;
  z-index:0;
  line-height:1em;
}
#highlight, #res {
  width:260px;
  height:12em;
  text-align:left;
  display:block;
  white-space: pre;
  letter-spacing:0px;
}
#dict, #nsm {
  width:288px;
  position:fixed;
  left:50%;
  margin-left:-160px;
  background:white;
  bottom:0px;
  border: 2px solid white;
}
#nsm {
  border-color: #f0f0f0;
  white-space:pre;
}
#nsm div {
  text-align:center;
  display:inline-block;
  font-size:20px;
  line-height:1.25em;
  padding:0;
  margin:0;
  height:1.5em;
  width:1.25em;
  border:0;
  padding-left:0.5em;
}
#nsm a {
  color:black;
  text-decoration:none;
}
#nsm span {
  border-left:2px dotted lightgray;
  position: absolute;
  left: auto;
  right: auto;
  height: 1.75em;
}
#nsm #nsm_lookup {
  padding:0;
  font-weight:bold;
  background-color: white;
}
#nsm #nsm_lookup i {
  position: relative;
  top: 5px;
  left: 0;
  font-size: 18px;
  font-weight: bold;
}
#links {
  border:1px solid lightgray;
  position:fixed;
  z-index:11;
  bottom:32px;
  right:0px;
  width:24px;
  padding-left:4px;
  overflow:hidden;
  white-space:nowrap;
  background:white;
  font-size:16px;
}
#links i {
  font-size:20px;
}
#links b {
  position:absolute;
  right:0;
  top:auto;
}
#show_links {
  float:left;
  margin-right:10px;
}
#library, #resources, #credits, #trends_chart, #wiki_, #basic_words, #metadata {
  overflow:scroll;
  font-size: 14px;
  height:235px;
  position:fixed;
  left:50%;
  margin-left:-160px;
  background:white;
  width:310px;
  max-width:100vw;
  border:1px solid lightgray;
  padding:0;
  visibility:hidden;
  z-index:11;
  top:0px;
}
#resources div {
  width:100%;
  clear:both;
}
#library, #trends_chart, #wiki_, #basic_words, #metadata {
  padding:0;
}
#library_iframe {
  padding:0;
  margin:0;
  border:0;
  height:180px;
}
#musixmatch, #wiki, #ltwf {
  border:0;
  margin:0;
}
#artist, #song {
  width:149px;
}
#library i {
  font-size:12px;
}
#languages, #corpus {
  width:120px;
}
#corpus {
  display:none;
}
#trends_chart {
  margin-right:30px;
}
.chart {
  border:0;
  margin:0;
  width:100%;
}
#mobile {
  position:absolute;
  background-color:white;
  border:1px solid lightgray;
  height:2.5em;
  width:128px;
  margin-left:-128px;
  margin-top:-3em;
  visibility:hidden;
  z-index:11;
  overflow:hidden;
  font-size:12px;
}
#genre {
  width:310px;
  height:232px;
  border:none;
}
#submit, #ul {
  display:none;
}
#vs {
  float: left;
  width: 20px;
  height: 12em;
  line-height: 1em;
  font-size: 16px;
  text-align: left;
  padding:0;
  resize:none;
}
#outline {
  float:left;
  line-height:1em;
  height:12.125em;
  overflow:hidden;
}
#outline hr {
  border:none;
  height:512em;
  width:4px;
  background: repeating-linear-gradient(to bottom, transparent, transparent 1em, gray 1em, gray 5em, transparent 5em, transparent 6em, lightgray 6em, lightgray 10em, transparent 10em, transparent 11em, gray 11em, gray 15em, transparent 15em, transparent 16em, gray 16em, gray 20em, transparent 20em, transparent 21em, gray 21em, gray 25em, transparent 25em, transparent 27em);
  background-position:0 2px;
}
